/*****************
    - Header -
*****************/
header {
  position:relative;
  left:0;
  top:0;
  width:100%;
  min-height: 200px;
  padding:50px 0;
  color:#fff;
  background: #383838 url(anime_girl.png) no-repeat center center;
  background-size: cover;
  margin-bottom:30px;

  #nav {
    float: right;
    padding: 20px;
    font-weight: bold;
  }

  .inner {
    padding: 20px 0;
  }
}

/* Logo */
header .logo {
  clear:both;
  display:block;
  text-align:center;
  padding-bottom:10px;
}

/* Title */
header h1 {
  font-weight:300;
  font-size:24px;
  color:#eee;
  letter-spacing:2px;
  text-align:center;
  text-transform:uppercase;
  margin:0 !important;
  padding-bottom:25px;
}
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800');
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
  font-family: "Open Sans";
  margin: 0px;
}

a,
a:hover,
a:focus {
  color: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #F1F2F3;
  height: 100%;
}